.accordion {
  width: 100%;
  max-width: 342px;
  margin: 0 auto;
}

.accordion-item {
  border: 1px solid #ccc; /* Ensure border color is applied */
  border-radius: 12px; /* Rounded corners for each item */
  margin-bottom: 10px;
  overflow: hidden; /* Ensure content does not overflow the container */
  background-color: #fff; /* Ensure item background is set for visibility */
  border-color: #ff6b82;
}

.accordion-header {
  position: relative;
  padding: 10px;
  cursor: pointer;
  background: linear-gradient(to right, #ff6b82 20%, transparent 20%);
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.accordion-header.open {
  background: transparent; /* Transparent background when open */
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-right {
  text-align: start;
  flex: 1; /* Take up remaining space */
}

.title-center {
  text-align: center;
  flex: 10; /* Take up remaining space */
}

.accordion-title {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  color: white;
  max-width: 50px; /* Adjust this width as needed */
  word-wrap: break-word; /* Allows long words to break and wrap */
  overflow-wrap: break-word;
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 10px;
}
#yes {
  border: 2px solid white;
  box-shadow: 0 0 0 1px #ff6b82;
  appearance: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #fff;
  transition: all ease-in 0.2s;
}
#yes:checked {
  background-color: #ff6b82;
}
